*{
    margin: 0px;
}
#front{
    transform: translateZ(100px);  
}
#back{
    transform: rotateX(-180deg) translateZ(100px);
}

#right{
    transform: rotateY(90deg) translateZ(100px);
}
#left{
    transform: rotateY(-90deg) translateZ(100px);
}
#top{
    transform: rotateX(90deg) translateZ(100px);
}
#bottom{
    transform: rotateX(-90deg) translateZ(100px);
}
.dice3d{
    width: 200px;
    height: 200px;
    position: absolute;    
    border: 1px solid #000;
    transform-style: preserve-3d;
    transition: transform 1s;
}
#die3
{
    top: 200px;
}
#die4
{
    top: 200px;
    left: 300px;
}
.dice3d:hover{
    cursor: pointer;
}

.dice3d div{
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background: linear-gradient(45deg,blue,red);
}

.front-side .dot1{
    top: 85px;
    left: 85px;
}

.back-side .dot1{
    top: 25px;
    left: 25px;
}
.back-side .dot2{
    top: 115px;
    left: 115px;
}

.top-side .dot1{
    top:15px;
    left:15px;
}
.top-side .dot2{
    top:65px;
    left:65px;
}
.top-side .dot3{
    top:65px;
    left:65px;
}
.bottom-side .dot1{
    top:15px;
    left:15px;
}
.bottom-side .dot2{
    top:0px;
    left:130px;
}
.bottom-side .dot3{
    top:130px;
    left:0px;
}
.bottom-side .dot4{
    top:0px;
    left:-135px;
}

.left-side .dot1{
    top:15px;
    left:15px;
}
.left-side .dot2{
    top:0px;
    left:130px;
}
.left-side .dot3{
    top:130px;
    left:0px;
}
.left-side .dot4{
    top:0px;
    left:-130px;
}
.left-side .dot5{
    top:-70px;
    left:60px;
}

.right-side .dot1{
    top:15px;
    left:15px;
}
.right-side .dot2{
    top:0px;
    left:130px;
}
.right-side .dot3{
    top:130px;
    left:0px;
}
.right-side .dot4{
    top:0px;
    left:-130px;
}
.right-side .dot5{
    top:0px;
    left:60px;
}
.right-side .dot6{
    top:-140px;
    left:0px;
}


.dot
{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
}